<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.thomasmore.concertmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ReviewToevoegen"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConcertDetailUitDb"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Registreer"
            android:label="@string/title_activity_registreer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ReviewSchrijven"
            android:label="@string/title_activity_review_toevoegen"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Reviews"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConcertDetail"
            android:screenOrientation="portrait"/>
        <activity android:name=".Favorieten"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".Agenda"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>

    </application>



</manifest>